body {
    background-color: #b7b9b3;
}

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0px 22% 0px 19%;
    font-size: 100%;
    display: flex;  
    align-items: center;
    box-shadow: 0 0 5px 6px #000;
}
header img {
    width: 50px;

}
header div a {
    color: #f0f0f0;
    text-decoration: none;
    margin-left: 15px;
    transition: 0.5s ease;
}
header div a:hover {
    color: #fc9700;
}
header div a.carrito {
    color: #fc9700;
}
header div a.carrito:hover {
    color: #ffffff;
}
header div.carrito{
    margin-left: auto;
}
div.image{
    display: flex;
    height: 100px;
    size: 1px;
}

header a.sing {
    color: rgb(218, 26, 218);
}

.Banner {
    position: relative;
    max-width: 60%;
    border-radius: 8px;
    overflow: hidden;
    margin: 50px 19%;
    box-shadow: 0 20px 20px 1px #000;
}

.GAME {
    position: relative;
    width: 100%;
    height: 100%;
}

.Banner img {
    width: 100%;
    display: block;
}

.Gameinfo {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.Gameinfo h2 {
    font-size: 2.8em;
    color: #fff;
    text-shadow: 
  -1px -1px 2px #000,
   1px -1px 2px #000,
  -1px 1px 2px #000,
   1px 1px 2px #000;
}

.Gameinfo p {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 600;
    text-shadow: 
  -1px -1px 2px #000,
   1px -1px 2px #000,
  -1px 1px 2px #000,
   1px 1px 2px #000;
}

.Gameinfo a {
    background-color: #89c10f;
    color: #fff;
    padding: 12px 30px;
    font-size: 1.1em;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px 0.5px #000;
}